body {
    margin: 0;
}

.connected {
    text-align: center;
    font-size: 1.5rem;
}

#users-list {
    list-style: none;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

#textWrapper {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 2rem
}

#countdown {
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
    opacity: 0.6;
    font-style: italic;
    font-size: 1.5rem;
}

.textInputWrapper {
    text-align: center;
}

#inputFild {
    visibility: visible;
    font-size: 1rem;
    outline: none;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-form input {
    width: 180px;
    margin-bottom: 0.6rem;
    padding: 5px 4px;
    border: 1px solid;
    font-size: 0.8rem;
}

.success {
    background: green;
    color: white;
}

.failure {
    background: red;
    color: white;
}

.winner {
    background: green;
    color: white;
}

.btn-wrapper {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background: gainsboro;
    font-size: 1rem;
    padding: 4px 40px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
}